/*
 * Skin: Anvil
 * -----------
 */
/* skin-anvil-default navbar */
.skin-anvil-default .main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.skin-anvil-default .main-header .navbar-toggle {
  color: #333;
}
.skin-anvil-default .main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #eee;
}
.skin-anvil-default .main-header .navbar {
  background-color: #ffffff;
}
.skin-anvil-default .main-header .navbar .nav > li > a {
  color: #333333;
}
.skin-anvil-default .main-header .navbar .nav > li > a:hover,
.skin-anvil-default .main-header .navbar .nav > li > a:active,
.skin-anvil-default .main-header .navbar .nav > li > a:focus,
.skin-anvil-default .main-header .navbar .nav .open > a,
.skin-anvil-default .main-header .navbar .nav .open > a:hover,
.skin-anvil-default .main-header .navbar .nav .open > a:focus,
.skin-anvil-default .main-header .navbar .nav > .active > a {
  color: #fff;
  background-color: #222d32;
  box-shadow: inset -2px -26px 34px -37px rgb(255 255 255);
}
.skin-anvil-default .main-header .navbar .nav > li > a > span.menu-icon-text {
  padding-left: 3px;
}
.skin-anvil-default .main-header .navbar .sidebar-toggle {
  color: #333333;
}
.skin-anvil-default .main-header .navbar .sidebar-toggle:hover {
  color: #999999;
  background: #ffffff;
}
.skin-anvil-default .main-header .navbar > .sidebar-toggle {
  color: #333;
  border-right: 1px solid #eee;
}
.skin-anvil-default .main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid #eee;
}
.skin-anvil-default .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-anvil-default .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #eee;
  border-right-width: 0;
}
.skin-anvil-default .main-header .logo {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #eee;
}
.skin-anvil-default .main-header .logo:hover {
  background-color: #fcfcfc;
}
@media (max-width: 990px) {
  .skin-anvil-default .content-header > h1 {
    height: 33px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .skin-anvil-default .main-header .logo {
    background-color: #fff;
    color: #1f1f1f;
    border-bottom: 1px solid #e3e3e3;
    border-right: none;
  }
  .skin-anvil-default .main-header .logo:hover {
    /* background-color: #1f1f1f;*/
  }
  .skin-anvil-default .content-header {
    display: none;
  }
}
.skin-anvil-default .main-header li.user-header {
  background-color: #222;
}
.skin-anvil-default .content-header {
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid rgba(238, 238, 238, 0.2);
  padding:0 !important;
  background: #222d32;
  box-shadow: 2px 5px 16px 0px rgb(38 37 37 / 55%);
}
.skin-anvil-default .content-header > h1 {
  font-family: 'Exo 2',Source Sans Pro, sans-serif;
  font-size: 16px;
  color: #eee;
  line-height: 48px;
  padding-left: 14px;
}
.skin-anvil-default .content-header > h1 > small {
  font-size: 14px;
  color: #bbb;
  line-height: 48px;
  padding-left: 4px;
}
.skin-anvil-default .content-header > .breadcrumb {
  top: 10px;
}
.skin-anvil-default .content-header > .breadcrumb > .active {
  color: #999;
}
.skin-anvil-default .content-header > .breadcrumb li > a {
  color: #999;
}
.skin-anvil-default .wrapper,
.skin-anvil-default .main-sidebar,
.skin-anvil-default .left-side {
  background-color: #222d32;
}
/* User Panel */
.skin-anvil-default .user-panel > .info,
.skin-anvil-default .user-panel > .info > a {
  color: #fff;
}
.skin-anvil-default .user-panel > .image > img {

}
.skin-anvil-default .user-img {
  border-radius: 10%;
  border: 1px solid #9b9b9bbf;
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 48%);
}
.skin-anvil-default .user-img-shadow {
  box-shadow: 0px 0px 6px 1px rgb(122 122 122 / 45%);
}
.skin-anvil-default .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-anvil-default .sidebar-menu > li > a {
  border-bottom: 1px solid #2a373e85;
  border-left: 3px solid transparent;
}
.skin-anvil-default .sidebar-menu > li:hover > a,
.skin-anvil-default .sidebar-menu > li.active > a,
.skin-anvil-default .sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: #1e282c;
}
.skin-anvil-default .sidebar-menu > li.active > a {
  border-left-color: #ffffff;
}
.skin-anvil-default .sidebar-menu .treeview-menu {
  padding-left: 0px;
}
.skin-anvil-default .sidebar-menu .treeview-menu > li:hover {
  border-top: 1px solid #42516063;
  border-bottom: 1px solid #42516063;
  padding-left: 32px;
  background: #222d32a1;
}
.skin-anvil-default .sidebar-menu .treeview-menu > li {
  border-bottom: 1px solid #26323e;
  padding: 9px 2px 9px 30px;
}
.skin-anvil-default .sidebar-menu > li > .treeview-menu {
  /* border-top: 2px solid #2c3a406b; */
  margin: 0;
  background: #1e282c;
}
.skin-anvil-default .sidebar a {
  color: #b8c7ce;
}
.skin-anvil-default .sidebar a:hover {
  text-decoration: none;
}
.skin-anvil-default .sidebar-menu .treeview-menu > li > a {
  padding: 0px;
  color: #8aa4af;
}
.skin-anvil-default .sidebar-menu .treeview-menu > li.active > a,
.skin-anvil-default .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-anvil-default .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-anvil-default .sidebar-form input[type="text"],
.skin-anvil-default .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-anvil-default .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-anvil-default .sidebar-form input[type="text"]:focus,
.skin-anvil-default .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-anvil-default .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-anvil-default .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-anvil-default .pace .pace-progress {
  background: #222;
}
.skin-anvil-default .pace .pace-activity {
  border-top-color: #222;
  border-left-color: #222;
}
